[Unit]
Description=Gemini Core Module Service

[Service]
Type=simple
Restart=on-failure
Environment="PATH=/sbin:/bin:/usr/sbin:/usr/bin"
ExecStart=/bin/bash -c '/etc/gemini/core'
StartLimitInterval=1s
StartLimitBurst=999

[Install]
WantedBy=multi-user.target